# Manul config file
# Format: <option_name> = <value>
# -----------------

# Use determenistic seed for test cases generation (radamsa option).
determenistic_seed = False

# Print fuzzing summary per thread instead of total summary.
threads_info = False

# Choose DBI framework to provide coverage back to Manul ("dynamorio" or "pin"). Example dbi = dynamorio
#dbi = dynamorio
# If dbi param is not None the path to dbi engine launcher and dbi client should be specified.
#dbi_root = C:\Users\Max\Desktop\manul\dr_release\bin32\drrun.exe
#dbi_client_root = C:\Users\Max\Desktop\manul\win\dbi_dr_32\binafl.dll
#dbi_client_libs = None

# Timeout for target binary
timeout = 10

# Path to network configuration file with a list of IP:port slave addresses. Specified for master instance.
net_config_master = None

# IP and port to listen for connections from master (e.g. net_config_slave = 0.0.0.0:1337)
net_config_slave = None

# Run in debug mode, print details in console
debug = False

# Print Manul ASCII logo at the beginning
manul_logo = False

# Save debug messages to log files (one per thread)
logging_enable = False

# Bitmap sync frequency (5000 recommended for DBI mode)
sync_freq = 1000000
